<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Productos</title>
</head>
<body>
    <h1>Reporte de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Fecha de Caducidad</th>
                <th>Existencia</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio_compra }}</td>
                <td>{{ producto.precio_venta }}</td>
                <td>{{ producto.fecha_caducidad }}</td>
                <td>{{ producto.existencia }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
